@model CRM_Project.Core.Entities.Company
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Kayıt Ol!</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('/assets/img/register-wallpaper.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .overlay {
            background-color: rgba(255, 255, 255, 0.5); /* Arka plan resminin opaklığını ayarlayın */
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>
<body class="bg-secondary">
    <div class="overlay"></div> <!-- Şeffaflık için bir overlay ekleyin -->
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Hesap Oluştur</h3></div>
                                <div class="card-body">
                                    <form asp-action="Register" asp-controller="Company" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="CompanyName" />
                                                    <label asp-for="CompanyName"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="Email" />
                                                    <label asp-for="Email"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" asp-for="Password" />
                                            <label asp-for="Password"></label>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Number" class="control-label"></label>
                                            <input asp-for="Number" class="form-control" />
                                            <span asp-validation-for="Number" class="text-danger"></span>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <button type="submit" class="btn btn-secondary float-end">Hesap Oluştur</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-action="Login">Hesabınız var mı ? Giriş Yapın</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>